#chart-panel {
    position: absolute;
    top: 5%;
    width: 90%;
    height: 90%;
    background-color: rgba(170, 170, 170, 0.751);
    z-index: 999998;
    transition-duration: .6s;
    transition-timing-function: ease;
    box-shadow: -5px 10px 20px -10px #000;
    margin: auto;
    margin-left: 5%;
    /* grid stuff */
    display: grid;
    grid-gap: 0px 0px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 30% 30% 30%;
}

#chart-panel h3 {
    text-align: center;
    padding: 0px 5px;
}

#exit {
    float: left
}

#chart-panel #header {
    background-color: #008a7d;
}

#chart-panel button {
    background-color: #00b6a7;
    /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#download-area {
    background-color: #008a7d;
    text-align: center;
    padding: 0% 0%;
}

#download {
    height: 50%;
    width: 50%;
    margin: 5% 0%;
    padding: 0;
    border-radius: 10px;
    /* justify-self: center;
    align-self: center; */
}

#stats {
    grid-row: 2/3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    text-align: center;
    align-items: center;
}

#acctime {
    grid-column: 1 / end;
    grid-row: 3 / 4;
}

#heightchart {
    grid-column: 2 / end;
    grid-row: 2/ 3;
}

#temptime {
    grid-column: 1 / end;
    grid-row: 4 / 5;
}

#chart-panel.hidden {
    left: 200%;
}

#chart-panel.displayed {
    left: 0%;
}

.chart {
    margin: 20px;
}